.container {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 15%;
}

main {
  width: 0%;
}

/* Optional styles for responsive design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar, .main {
    width: 100%;
  }
}
