 /*create breacrumbs
 create accordion menu 
 create a search bar 
 create dropdown menu.
 download world atlas just like the one on france webpage */
 
 
/* ***********************Global styles**************************** */
html {
	box-sizing: border-box;
}

*,*:before, *:after { 
	box-sizing: inherit;
}

.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 5px 0px;
	height: auto;
	border:thin;
	font-size: 15px;
}

/* menu {
	nav-down: initial;
	nav-index: initial;
	behavior:inherit;
	list-style-type: disc;
} */

h1, h2, h3, h4 , h5 {
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	border-radius: 5px;
	margin: 0;
	width: auto;
}

h1 p{
	margin: 5px;
}

/* *********************** BEFORE THE HEADER PICTURE ******************* */

div > p {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: x-small;
	text-align: justify;
	margin: 1.5px;
}

.flex-container {
	display: flex;
	padding: 10px;
	border-radius: 10px;
	margin: 0px;
	border-color: grey;
}

.flex-item {
	background:rgb(235, 219, 219);
	flex: 1 1 60px;
	border-style:inset;
	border-color:rgb(250, 193, 250);
	border-radius: 10px;
	text-align: center;
	font-size: 10px;
	justify-content: space-evenly;
	padding:3px;
	text-decoration:none;
}

.flex-item a {
	text-decoration:none;
	color: black;
}

div + .flex-item {
	background:rgb(240, 234, 235);
	flex: 1 1 60px;
	border-style: inset;
	border-color:rgb(143, 136, 143);
	border-radius: 8px;
	text-align: center;
	font-size: 10px;
	margin:5px 0px;
	justify-content: space-evenly;
	padding:2px;
}

header {
	background:rgb(245, 236, 236);
	color: rgb(230, 18, 64);
	padding: 0;
	margin: 0px;
	border-radius: 5px;
	text-align: left;
	height:50px;
}

/* ******************** Aside/ Article section***************************** */

/* article {
	background:rgb(247, 201, 247);
	padding: 10px;
	width: 375px;
	border-radius: 5px;
	float: left;
	margin:0px;
} */

.bar1,.bar2, .bar3 {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 6px 0;
	transition: 0.4s;
}

.menu-container {
	display:inline-block;
	cursor: pointer;
}

/* to rotate the first bar */
.change .bar1 {
	-webkit-transform: rotate: (-45deg) translate: (-9px, -6px)
	transform: rotate(-45deg);
}

/* fade out the second bar so that the first and last can cross each other */

.change .bar2 {
	opacity: 0;
}

/* rotates the last bar */

.change .bar3 {
	-webkit-transform: rotate(-45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

#websearch {
	width: 60%;
	font-size: 12px;
	padding: 5px;
	border:1px solid #ddd;
	margin:5px;
	float: right;
}

aside {
	background: aquamarine;
	width: 100px;
	float:left;
	padding: 0px;
	margin: 5px;
}

h2 > p{
	text-align: justify;
	display: flex;
}

/* h2 > div {
	margin: 0px;
} */

div > footer {
	background: black;
	padding: 10px;
	border-radius: 5px;
	margin:5px 0px;
	color: aliceblue;
	text-align-last:center;
	clear:both;
}

img{
	justify-content: center;
	border-radius: 5px;
	height:100px;
	margin:5px;
}

button {
	background:rgb(47, 185, 181);
	color: rgb(2, 2, 15);
	width: 60px;
	height: 20px;
	padding:2px;
	border-style:outset;
	text-align: center;
	font-size: 8px;
	border-radius: 30px;
	position:inherit;
	
}

button a {
	text-decoration:none;
}

span button {
	float: right;
	/* margin: 2px; */
	size: 10px;
	background-color: aliceblue;
	flex: 1 1 10px;
}

div button a {
	text-size-adjust:inherit;
	
}

#more {
	display: none; /* this is associated with the read more function on javascript */
}

.grid-container {
	display: grid;
	width:auto;
	margin: 0px 0px 5px 5px;
	padding: 0;
	/* border-radius: 10px; */
	border: 2px thin rgb(238, 213, 213);
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-auto-columns: 1fr 1fr;
	grid-auto-rows:1fr 1fr;
	gap: 1px;
}

.grid-item {
	border: 2px solid mediumaquamarine;
	padding: 2px;
	margin:0.1px;
	border-radius: 10px;
	/* overflow:auto; */
	/* position:relative; */
	overscroll-behavior-x:inherit;
}

footer > .flex-container {
	background-color: brown;
	flex: 1 1 100px;
	color: black;

}

footer > .flex-item {
	flex: 1 1 100px;
	justify-content: space-evenly;
	border-style:hidden;
}

/* style all font awesome icons */
.fa {
	padding:20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color:white;
}

/* aside > .grid-item {
	border-style: groove;
	float: left;
	width: 100px;
	border-style: hidden;
	border-radius: 5px;
	font-size: small;
	padding: 8px;
	gap: 10px;
	justify-content:space-around;
	overflow:auto;
} */

/* @media screen and (max-width: 100px) {
	article img {
		float:left;
		margin-right: 20px;
	}
} */

/* This responsive media query is meant to make the sidebar go in to the 
topbar for screens that are less than 700px  */

/* @media screen and (max-width:700px) {
	aside {
		width: %;
		height:auto;
		position: relative;
	}
	aside a { float: left }
	div.content-wrap { margin-left: 0;}
}
	 */